[Desktop Entry]
Version=1.0
Type=Application
Name=Blossom
GenericName=Encrypted Journal
Comment=A private, encrypted journal with ambient sound
Exec=blossom
Icon=/home/rozanil/Projects/blossom_encrypted_journal/icon.png
Terminal=false
Categories=Office;
Keywords=journal;diary;notes;encrypted;private;
StartupWMClass=blossom
StartupNotify=true
